<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.industrialmaster.musicplayer">
    <!-- Play web url audio file required permission. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/images9"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Song5Activity"></activity>
        <activity android:name=".Song4Activity" />
        <activity android:name=".Song3Activity" />
        <activity android:name=".Song2Activity" />
        <activity android:name=".Song1Activity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".BatteryLevelActivity" />
        <activity android:name=".audio.background.PlayBackgroundAudioActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MySong1"></service>
        <service android:name=".MySong2"></service>
        <service android:name=".MySong3"></service>
        <service android:name=".MySong4"></service>
        <service android:name=".MySong5"></service>
        <service
            android:name=".audio.background.AudioService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>